{% include "store/base.html" %}
{%load static%}
{% load crispy_forms_tags %}
{%block content%}
<style>
    body{
        background-color: gray;
    }
</style>
<body>
    <br>
    <div class="container big-white shadow-md p-5 form-layout">
        <h3>Password reset</h3>
        <hr>
        <p>Forgotten your password? Enter your email adress below, and we'll email instructions for setting new one</p>

        <form method='post'>
            {%csrf_token%}
            {{form|crispy}}
            <br>
            <button type='submit' class="btn btn-primary navbar-btn text-white w-100 p-2">Submit</button>
        </form>
    </div>
    
</body>
    

{%endblock%}